<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio - CAMARA Blomkoum</title>
    <link>
    <script></script>
    <style>
        
    </style>
</head>
<body>

<header>
    haut
</header>

<nav id="navbar-container">
    <ul id="navbar-content">
        <li><a href="#accueil-container1" class="nav-bouton" id="logo-retour">Site</a></li>
        <li><a href="#projets" class="nav-bouton">Projets</a></li>
        <li><a href="#aboutme" class="nav-bouton">About Me</a></li>
        <li><a href="#contact-titre" class="nav-bouton">Contact</a></li>
    </ul>
</nav>

<main>
    <div><p>presentation</p></div>
    
    <div>
        <p>description</p>
        <p>titre</p>
        <p>text</p>
        <p>objectif</p>
    </div>
    
    <div>
        <p>centres d'interêts</p>
        <p>titre</p>
        <p>slide</p>
    </div>
    
    <div>
        <p>formation</p>
        <p>titre</p>
        <p>formation 1</p>
    </div>
    
    <div>
        <p>CV</p>
        <p>titre</p>
        <p>image cv</p>
        <p>lien de téléchrgement</p>
    </div>
    
    <div>
        <p>compétences</p>
        <p>titre</p>
        <p>compétences techniques</p>
        <p>compétences non-techniques</p>
    </div>
    
    <div>
        <p>projets</p>
        <p>titre</p>
        <p>description STAR + lien vers page</p>
    </div>
    
    <div>
        <p>contact</p>
        <p>titre</p>
        <p>liste contacts</p>
    </div>
    
</main>
</body>
<footer>
    Site réaliser par CAMARA Blomkoum sans IA :)
</footer>
</html>