p1{
        font-size: 50px;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    body{
        max-width: initial;
        background: black;
        font-family: Roboto;
        width: 100%;
    }

    /**  includes  */
    #navbar-container{
        z-index: 1000;
        position: sticky;
        display: block;
        top: 0px;
        width: 100%;
        padding-top: 20px;
        background-color:black;
        padding-bottom: 10px;
    }

    #navbar-content{
        list-style-type: none;
        display: flex;
        text-decoration: none;
        justify-content: space-around;
    }
    .nav-bouton{
        color: white;
        text-decoration: none;
    }
    #logo-retour{
        width: 100px;
        height: 100px;
        border-radius: 100px;
        border-color: white;
        color: white;
        align-content: center;
        justify-content: center;
    }

    #footer-container{
        width: 100%;
        list-style-type: none;
        justify-content: space-around;
        display: flex;
        border-top: white;
        border-top-style: solid ;
        border-top-color:white ;
        border-top-width: 1px;
    }

    .footer-content{
        padding-left: 45px;
        color: white;
        margin:  15px;
    }

    /**
    Accueil
     */
    .section{
        margin-bottom: 500px;
    }
    .sous-section{
        margin-bottom: 150px;
    }
    #accueil-container1{
        width: fit-content;
        align-content: center;
        justify-self: center;
        background: black;
        border-radius: 25px;
        width: 100%;
    }

    #Nom-Prenom{
        font-size: 150px;
        width: 100%;
        height: fit-content;
        color: white;
        margin: 20px auto;
        padding: 30px;
        position: relative;
        text-align: center;
        font-family: Roboto;
        display: block;
    }
    #nom{
        animation: innit1 2s ease-out;
        height: fit-content;
    }
    #prenom{
        animation: innit2 2s ease-out;
        height: fit-content;
    }
    @keyframes innit1 {
        from{
            opacity: 0%;
            transition: opacity 2s ease-in;
            transform: translateX(-5%);
        }
        to{
            opacity: 100%;
            transform: translateX(0%);

        }
    }
    @keyframes innit2 {
        from{
            opacity: 0%;
            transform: translateX(5%);
        }
        to{
            opacity: 100%;
            transform: translateX(0%);
        }
    }

    #message{
        color: white;
        text-align: center;
        width: 75%;
        justify-self: center;
        padding-bottom: 15px;
        font-size: 19px;
    }

    /**
    Slides
     */

    * {box-sizing:border-box}

    /* Slideshow container */
    .slideshow-container {
        background: white;
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Hide the images by default */
    .slides {
        background: #717171;
        display: none;
        overflow: clip;
        justify-items: center;
        box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 50px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev{
        left: 0;
        border-radius: 3px 0 0 3px;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /* Contact */

    #contact-titre{
        font-weight: bold;
        color: black;
        font-size: 150px;
        text-align: center;

    }
    .contact-content{
        align-items: center;
        margin: 20px;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 5px 5px  4px #777777;
        width: 250px;
        height: 200px;
        transition: 1s all ease-out;
        font-weight: bold;
    }
    .contact-content:hover{
        transform: translateY(-25px);
        box-shadow: 15px 15px 4px lightgray;
    }
    #contact-container{
        padding-top: 200px;
        height: fit-content;
        justify-content: center;
        display: block;
        background-image: linear-gradient(black 10% ,white 90%);
    }
    #contact-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        list-style-type: none;
        color: black;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    /* about me*/


    #presentation{
        width: 80%;
        color: white;
        border-radius: 15px ;
        border: 25px;
        font-weight: bold;
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    #aboutme-container{
        background: black;
        width: 100%;
    }
    .skills{
        justify-self: center;
        position: relative;
        width: 100%;
    }
    .hard-skills{

    }
    .hard-skills-content{
        display: inline-block;
        background: white;
        color: #717171;
        border-radius: 15px;
        width: 200px;
        margin: 25px ;
    }
    .soft-skills{

    }
    .soft-skills-content{
        display: inline-block;
        background: white;
        color: #717171;
        border-radius: 15px;
        width: 200px;
        margin: 25px ;
    }
    .projets{
        width: 100%;
    }
    .projet{
        text-align: left;
        display: inline-block;
        background: white;
        color: #717171;
        border-radius: 15px;
        width: 80%;
        margin: 25px ;
    }
    .projet-STAR{
        font-weight: bold;
        color: #444444;
        font-size: 18px;
    }
    .selected{

    }
    .unselected-left{
        transform: translateX(-500px);
    }
    .unselected-right{
        transform: translateX(500px);
    }
    #formations{
        display: flex;
        justify-content: space-around;
        justify-items: center;

    }
    .formation-content{
        margin: 15px;
        border-color: white;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        padding: 5px;
        width: 250px;

    }