/* variables globales (couleurs, dimensions) */
:root{
    --nav-background: black;

}

/* animations globals */
.entree-g{
    animation: gauche 2s ease-out;
}
.entree-d{
    animation: droite 2s ease-out;
}
@keyframes gauche {
    from{
        opacity: 0;
        transition: opacity 2s ease-in;
        transform: translateX(-5%);
    }
    to{
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes droite {
    from{
        opacity: 0%;
        transform: translateX(5%);
    }
    to{
        opacity: 100%;
        transform: translateX(0%);
    }
}

/* police */
*{
    font-family: Roboto, serif;
}

/* body */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* navbar */
nav{
    z-index: 1000;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    padding-top: 20px;
    background-color:var(--nav-background);
    padding-bottom: 10px;
}

nav ul{

}
nav li{
    list-style: none;
}
nav a{
    color: white;
    text-decoration: none;
}
nav li a{

}

/* sections */
.section{
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* couverture */
#couverture{
    flex-direction: column;
}
#couverture-titre{
        border-radius: 25px;
}
#couverture-titre div p{
    display: flex;
    justify-content: center;
}

#nom{
    height: fit-content;
}

#prenom{
    height: fit-content;
}





#message{
    color: white;
    text-align: center;
    width: 75%;
    justify-self: center;
    padding-bottom: 15px;
    font-size: 19px;
}



