/* variables globales (couleurs, dimensions) */
:root{
    --nav-background: black;

}

/* animations globals */
.entree-g{
    animation: gauche 2s ease-out;
}
.entree-d{
    animation: droite 2s ease-out;
}
@keyframes gauche {
    from{
        opacity: 0;
        transition: opacity 2s ease-in;
        transform: translateX(-5%);
    }
    to{
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes droite {
    from{
        opacity: 0%;
        transform: translateX(5%);
    }
    to{
        opacity: 100%;
        transform: translateX(0%);
    }
}

/* police */
*{
    font-family: Roboto, serif;
}

/* body */
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* navbar */
nav{
    z-index: 1000;
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    padding-top: 20px;
    background-color:var(--nav-background);
    padding-bottom: 10px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}
nav li{
    list-style: none;
    padding: 20px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav li a{

}

/* sections */
.section{
    height: 100vh;
    display: flex;
    justify-content: center;
}

/* couverture */
#couverture{
    flex-direction: column;
}
#couverture-titre{
        border-radius: 25px;
}
#couverture-titre div p{
    display: flex;
    justify-content: center;
}

#nom, #prenom{
    height: fit-content;
    font-size: 120px;
    font-weight: bold;
}


#message{
    color: black;
    text-align: center;
    justify-self: center;
    padding-bottom: 15px;
    font-size: 19px;
}

/* presentation */

#presentation{
    flex-direction: column;
    align-items: center;
}

#presentation p{
    width: 50%;
}
#presentation div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Centres d'interets */

/* Formations */
#formations{
    flex-direction: column;
    align-items: center;
}

#formation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;

}
.formation-content{
    margin: 15px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    width: 250px;
}

/* Compétences */
#competences{
    display: flex;
    flex-direction: column;
}

.skills{
    justify-self: center;
    position: relative;
    width: 100%;
}
.hard-skills{
 }

.hard-skills-content{
    display: inline-block;
    background: white;
    color: #717171;
    border-radius: 15px;
    width: 200px;
    margin: 25px;
}

.soft-skills{

}

.soft-skills-content {
    display: inline-block;
    background: white;
    color: #717171;
    border-radius: 15px;
    width: 200px;
    margin: 25px;
}

/* footer */
footer{
    background: black;
    color: white;
    padding: 20px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
}


